<div class="lobcorp">

	<div class="gridcontainer">
		<div class="notched agent">
			<div class="headertext">Agent Basic Information</div>

			<div class="profile">
				<div class="inner-profile">
				{{!-- Portrait --}}
				{{#if locked}}
					<img class="profile-img" src="{{img}}" title="{{actor.name}}" />
				{{else}}
					<img class="profile-img clickable"
					data-action="editImage" data-edit="img"
					src="{{img}}" title="{{actor.name}}" />
				{{/if}}

				{{!-- Name --}}
				<div class="name-field">
					{{#if locked}}
					<div class="charname">{{name}}</div>
					{{else}}
					<input class="charname" name="name" type="text"
						value="{{name}}" placeholder="{{localize 'WOD5E.Name'}}" />
					{{/if}}
				</div>

				<hr />

				{{!-- Blurb & Sin Type --}}
				<div class="blurbsintext">
					<span>
					{{#if locked}}
						<span class="blurb-field"></span>
					{{else}}
						<span class="blurb-input"></span>
					{{/if}}
					</span>
					<span>
					{{#if locked}}
						<span class="sin-field"></span>
					{{else}}
						<span class="sin-input"></span>
					{{/if}}
					</span>
				</div>
				</div>
			</div>

			{{!-- Health Points --}}
			<div class="point-container">
				<div><label>
				<i class="fas fa-minus resource-control resource-minus"
					data-action="resourceChange" data-resource="health" data-resource-action="minus"></i>
				Health Points
				<i class="fas fa-plus resource-control resource-plus"
					data-action="resourceChange" data-resource="health" data-resource-action="plus"></i>
				</label></div>
				<div class="health">
				<span>
					<span class="resource-counter editable"
					data-states="/:superficial,x:aggravated"
					data-max="{{health.max}}"
					data-superficial="{{health.superficial}}"
					data-aggravated="{{health.aggravated}}"
					data-pale="{{health.pale}}"
					data-name="system.health">
					{{#numLoop health.max}}
						<span id="health" class="resource-counter-step"
						data-action="squareCounterChange"
						data-index="{{this}}" data-state=""></span>
					{{/numLoop}}
					</span>
					<span class="resource-counter editable" data-states=":" data-name="">
					{{#numLoop health.pale}}
						<span id="health" class="resource-counter-step pale" data-index="{{this}}"></span>
					{{/numLoop}}
					</span>
				</span>
			</div>
			</div>

			{{!-- Sanity Points --}}
			<div class="point-container">
				<div><label>
				<i class="fas fa-minus resource-control resource-minus"
					data-action="resourceChange" data-resource="willpower" data-resource-action="minus"></i>
				<label for="willpower" class="system-rollable willpower-roll"
					data-action="willpowerRoll" title="{{localize 'WOD5E.Chat.RollWillpower'}}">
					Sanity Points
				</label>
				<i class="fas fa-plus resource-control resource-plus"
					data-action="resourceChange" data-resource="willpower" data-resource-action="plus"></i>
				</label></div>
				<div class="sanity">
				<span class="resource-counter editable"
					data-states="/:superficial,x:aggravated"
					data-max="{{willpower.max}}"
					data-superficial="{{willpower.superficial}}"
					data-aggravated="{{willpower.aggravated}}"
					data-pale="{{willpower.pale}}"
					data-name="system.willpower">
					{{#numLoop willpower.max}}
					<span id="willpower" class="resource-counter-step"
						data-action="squareCounterChange"
						data-index="{{this}}" data-state=""></span>
					{{/numLoop}}
				</span>
				<span class="resource-counter editable" data-states=":" data-name="">
					{{#numLoop willpower.pale}}
					<span id="willpower" class="resource-counter-step pale" data-index="{{this}}"></span>
					{{/numLoop}}
				</span>
				</div>
			</div>

			{{!-- Sin Points --}}
			<div class="point-container sin-points-container">
				<div><label>
				Sin Points
				</label></div>
				<div class="sin-tracker">
				<div class="sin-pip-track"></div>
				</div>
			</div>

			{{!-- Status Effects --}}
			<div class="stat-panel-section">
				<label class="resource-header">Status Effects</label>
				<div class="stats-container">
				<a class="item-control item-create"
					data-action="createItem"
					title="{{localize 'WOD5E.Add'}}"
					data-type="condition">
					<i class="fas fa-plus"></i> {{localize "WOD5E.Add"}}
				</a>
				<div class="items-list flexcol">
					{{#each conditions as |condition id|}}
					<div class="item flexrow{{#if condition.system.suppressed}} suppressed{{/if}}"
						data-drag="true"
						data-item-id="{{condition.id}}"
						data-document-uuid="{{condition.uuid}}"
						data-type="Item">
						<div class="item-image clickable"
						data-action="itemChat"
						data-item-id="{{condition._id}}">
						<img src="{{condition.img}}" title="{{condition.name}}"
							width="24" height="24" alt="{{condition.name}}" />
						</div>
						<div class="item-name">{{condition.name}}</div>
						<div class="item-controls">
						<a class="item-control item-edit"
							data-action="itemEdit"
							data-item-id="{{condition._id}}"
							title="{{localize 'WOD5E.Edit'}}">
							<i class="fas fa-edit"></i>
						</a>
						<a class="item-control condition-delete"
							data-action="itemDelete"
							data-item-id="{{condition._id}}"
							title="{{localize 'WOD5E.Delete'}}">
							<i class="fas fa-trash"></i>
						</div>
					</div>
					{{/each}}
				</div>
				</div>
			</div>
    	</div>

		<div class="notched combat-panel">
      <div class="headertext">Combat Skills</div>
      <div class="combat-skills-grid">
        {{#each combatSkills as |skill|}}
          <div class="combat-skill" data-item-id="{{skill.id}}">
            <div class="combat-skill-image clickable"
              data-action="itemChat"
              data-item-id="{{skill._id}}">
              <img src="{{skill.img}}" alt="{{skill.name}}" />
            </div>
            <div class="combat-skill-content">
              <div class="combat-skill-header">
                <span class="skill-index">Skill {{skill.index}}</span>
                <span class="skill-title">{{skill.name}}</span>
              </div>
              {{#if skill.summary}}
                <div class="combat-skill-summary">"{{skill.summary}}"</div>
              {{/if}}
              <div class="combat-skill-desc">{{{skill.description}}}</div>
              {{#unless locked}}
                <div class="combat-skill-controls">
                  <a class="item-control item-edit"
                    data-action="itemEdit"
                    data-item-id="{{skill._id}}"
                    title="{{localize 'WOD5E.Edit'}}">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a class="item-control item-delete"
                    data-action="itemDelete"
                    data-item-id="{{skill._id}}"
                    title="{{localize 'WOD5E.Delete'}}">
                    <i class="fas fa-trash"></i>
                  </a>
                </div>
              {{/unless}}
            </div>
          </div>
        {{else}}
          {{!-- Empty state when no combat skills exist yet --}}
          <div class="combat-skills-empty">
            <i class="fas fa-sword"></i>
            <p>No combat skills yet.</p>
            {{#unless locked}}
              <a class="item-control item-create"
                data-action="createItem"
                data-type="power"
                title="Add Combat Skill">
                <i class="fas fa-plus"></i> Add Skill
              </a>
            {{/unless}}
          </div>
        {{/each}}
      </div>
      {{#unless locked}}
        <a class="combat-add-btn item-create"
          data-action="createItem"
          data-type="power"
          title="Add Combat Skill">
          <i class="fas fa-plus"></i>
        </a>
      {{/unless}}
    	</div>

		<div class="notched right-panel">

		{{!-- Resistance section --}}
<div class="resistance-section">

  {{!-- Column 1 : physical damage types --}}
  <div class="resistance-list">
    <div class="resist-col-header">Physical</div>

    {{!-- Slash --}}
    <div class="resist-row">
      <img
        class="dmg-type-icon {{#unless locked}}clickable{{/unless}}"
        src="{{#if iconSlash}}{{iconSlash}}{{else}}icons/svg/sword.svg{{/if}}"
        data-icon-flag="iconSlash"
        alt="Slash" title="{{#unless locked}}Click to change icon{{/unless}}" />
      <span class="resist-label">Slash</span>
      {{#if locked}}
        <span class="resist-display-1"></span>
      {{else}}
        <span class="resist-input-1"></span>
      {{/if}}
    </div>

    {{!-- Pierce --}}
    <div class="resist-row">
      <img
        class="dmg-type-icon {{#unless locked}}clickable{{/unless}}"
        src="{{#if iconPierce}}{{iconPierce}}{{else}}icons/svg/arrow.svg{{/if}}"
        data-icon-flag="iconPierce"
        alt="Pierce" title="{{#unless locked}}Click to change icon{{/unless}}" />
      <span class="resist-label">Pierce</span>
      {{#if locked}}
        <span class="resist-display-2"></span>
      {{else}}
        <span class="resist-input-2"></span>
      {{/if}}
    </div>

    {{!-- Blunt --}}
    <div class="resist-row">
      <img
        class="dmg-type-icon {{#unless locked}}clickable{{/unless}}"
        src="{{#if iconBlunt}}{{iconBlunt}}{{else}}icons/svg/shield.svg{{/if}}"
        data-icon-flag="iconBlunt"
        alt="Blunt" title="{{#unless locked}}Click to change icon{{/unless}}" />
      <span class="resist-label">Blunt</span>
      {{#if locked}}
        <span class="resist-display-3"></span>
      {{else}}
        <span class="resist-input-3"></span>
      {{/if}}
    </div>

  </div>{{!-- /resistance-list col-1 --}}

  {{!-- Divider --}}
  <div class="resist-divider"></div>

  {{!-- Column 2 : colour damage types --}}
  <div class="resistance-list resistance-list--color">
    <div class="resist-col-header">Damage</div>

    {{!-- RED --}}
    <div class="resist-row">
      <img
        class="dmg-type-icon {{#unless locked}}clickable{{/unless}}"
        src="{{#if iconRed}}{{iconRed}}{{else}}icons/svg/blood.svg{{/if}}"
        data-icon-flag="iconRed"
        alt="RED" title="{{#unless locked}}Click to change icon{{/unless}}" />
      <span class="resist-label resist-label--color RED">RED</span>
      {{#if locked}}
        <span class="resist-display-red"></span>
      {{else}}
        <span class="resist-input-red"></span>
      {{/if}}
    </div>

    {{!-- WHITE --}}
    <div class="resist-row">
      <img
        class="dmg-type-icon {{#unless locked}}clickable{{/unless}}"
        src="{{#if iconWhite}}{{iconWhite}}{{else}}icons/svg/ice-aura.svg{{/if}}"
        data-icon-flag="iconWhite"
        alt="WHITE" title="{{#unless locked}}Click to change icon{{/unless}}" />
      <span class="resist-label resist-label--color WHITE">WHITE</span>
      {{#if locked}}
        <span class="resist-display-white"></span>
      {{else}}
        <span class="resist-input-white"></span>
      {{/if}}
    </div>

    {{!-- BLACK --}}
    <div class="resist-row">
      <img
        class="dmg-type-icon {{#unless locked}}clickable{{/unless}}"
        src="{{#if iconBlack}}{{iconBlack}}{{else}}icons/svg/dread.svg{{/if}}"
        data-icon-flag="iconBlack"
        alt="BLACK" title="{{#unless locked}}Click to change icon{{/unless}}" />
      <span class="resist-label resist-label--color BLACK">BLACK</span>
      {{#if locked}}
        <span class="resist-display-black"></span>
      {{else}}
        <span class="resist-input-black"></span>
      {{/if}}
    </div>

    {{!-- PALE --}}
    <div class="resist-row">
      <img
        class="dmg-type-icon {{#unless locked}}clickable{{/unless}}"
        src="{{#if iconPale}}{{iconPale}}{{else}}icons/svg/skull.svg{{/if}}"
        data-icon-flag="iconPale"
        alt="PALE" title="{{#unless locked}}Click to change icon{{/unless}}" />
      <span class="resist-label resist-label--color PALE">PALE</span>
      {{#if locked}}
        <span class="resist-display-pale"></span>
      {{else}}
        <span class="resist-input-pale"></span>
      {{/if}}
    </div>

  </div>{{!-- /resistance-list col-2 --}}
</div>{{!-- /resistance-section --}}
			{{!-- RP entries — scrollable, dynamic list --}}
<div class="rp-entries">

  {{#each rpEntries as |entry|}}
  <div class="rp-entry notched" data-entry-id="{{entry.id}}">

    <div class="rp-entry-header">

      {{!-- Type --}}
      {{#if ../locked}}
        <span class="rp-type">{{entry.type}}</span>
      {{else}}
        <select
          class="rp-type-select"
          data-entry-id="{{entry.id}}"
          data-current-type="{{entry.type}}">
          {{#each ../rpTypes as |typeObj|}}
            <option value="{{typeObj.value}}">{{typeObj.label}}</option>
          {{/each}}
        </select>
      {{/if}}

      {{!-- Name --}}
      {{#if ../locked}}
        <span class="rp-name">{{entry.name}}</span>
      {{else}}
        <input
          class="rp-name-field"
          type="text"
          data-entry-id="{{entry.id}}"
          value="{{entry.name}}"
          placeholder="Name…" />
        <a class="rp-delete-btn clickable"
          data-entry-id="{{entry.id}}"
          title="Remove entry">
          <i class="fas fa-times"></i>
        </a>
      {{/if}}

    </div>{{!-- /rp-entry-header --}}

    <div class="rp-body">
      {{#if ../locked}}
        <div class="rp-desc">{{entry.desc}}</div>
      {{else}}
        <textarea
          class="rp-desc-textarea"
          data-entry-id="{{entry.id}}"
          placeholder="Description…">{{entry.desc}}</textarea>
      {{/if}}
    </div>

  </div>{{!-- /rp-entry --}}
  {{else}}
    {{!-- Empty state --}}
    <div class="rp-empty">No entries yet.</div>
  {{/each}}

</div>{{!-- /rp-entries --}}

{{#unless locked}}
  <a class="rp-add-btn clickable" title="Add entry">
    <i class="fas fa-plus"></i> Add Entry
  </a>
{{/unless}}	
		</div>

{{!-- ═══════════════════════════════════════════════════════════
     STATS AND TRAITS PANEL
     ═══════════════════════════════════════════════════════════ --}}
<div class="notched stats-panel">
    <div class="headertext">Stats and Traits</div>
    <div class="stats-groups">

        {{#each statGroups as |cat|}}
        <div class="stat-category stat-category--{{cat.color}}">

            {{!-- ── Left: icon + Roman numeral ── --}}
            <div class="stat-cat-icon-wrap">
                <img
                    class="stat-cat-icon"
                    src="{{cat.defaultIcon}}"
                    data-icon-flag="{{cat.iconFlag}}"
                    alt="{{cat.label}}"
                    />
                <div class="stat-cat-rating stat-cat-rating--{{cat.color}}">{{cat.romanRating}}</div>
            </div>

            {{!-- ── Right: virtue label + attribute rows ── --}}
            <div class="stat-cat-attrs">
                <div class="stat-cat-label stat-cat-label--{{cat.color}}">{{cat.label}}</div>

                {{#each cat.attributes as |attr|}}
                <div class="attr-row">

                    {{!-- Name: rollable for ALL attrs (system and justice) ── --}}
                    <span
                        class="attr-name {{#if attr.isSystem}}system-rollable{{else}}justice-rollable{{/if}}"
                        data-action="rollAttribute"
                        data-attribute="{{attr.key}}"
                        title="Roll {{attr.displayName}}">
                        {{attr.displayName}}
                    </span>

                    <div class="attr-dots">
                        {{#numLoop 5}}
                            <span
                                class="attr-dot {{#if (lte this ../value)}}filled filled--{{../../color}}{{/if}}{{#unless ../../../../locked}}{{#unless ../isSystem}} justice-dot{{/unless}}{{/unless}}"
                                {{#unless ../../../../locked}}
                                    {{#unless ../isSystem}}
                                        data-val-flag="{{../key}}Val"
                                        data-dot-index="{{this}}"
                                    {{/unless}}
                                {{/unless}}
                            ></span>
                        {{/numLoop}}

                        {{!-- Edit caret — system attrs only, unlocked ── --}}
                        {{#unless ../../locked}}
                            {{#if attr.isSystem}}
                                <i class="fas fa-caret-right attr-edit-btn clickable"
                                    data-action="editAttribute"
                                    data-attribute="{{attr.key}}"
                                    title="Edit {{attr.displayName}}"></i>
                            {{/if}}
                        {{/unless}}
                    </div>

                </div>
                {{/each}}

            </div>
        </div>
        {{/each}}

    </div>
</div>{{!-- /stats-panel --}}

		<div class="notched skills-panel">
			<div class="headertext">Skills and Talents</div>
			<div class="skills-columns">
				{{#each sortedSkills as |type key|}}
				<div class="skill-group-col" data-group="{{key}}">
					{{#each type as |skill skillKey|}}
					<div class="skill-row">
						<span class="skill-name">{{skill.displayName}}</span>
						<div class="skill-specialty">
						{{#if locked}}
							<span class="skill-spec-text">{{skill.specialty}}</span>
						{{else}}
							<input class="skill-spec-input"
							type="text"
							name="system.skills.{{skillKey}}.specialty"
							value="{{skill.specialty}}"
							placeholder="Specialty" />
						{{/if}}
						</div>
						<div class="skill-dots" data-value="{{skill.value}}">
						{{#numLoop 5}}
							<span class="skill-dot {{#if (lte this ../skill.value)}}filled{{/if}}"></span>
						{{/numLoop}}
						</div>
					</div>
					{{/each}}
				</div>
				{{/each}}
			</div>
		</div>{{!-- /skills-panel --}}
	</div>

	{{#if isOwner}}
    <button type="button" class="lock-btn" data-action="toggleLock">
      {{#if locked}}
        <i class="fa fa-lock"></i>
      {{else}}
        <i class="fa fa-lock-open"></i>
      {{/if}}
    </button>
  	{{/if}}
  {{!-- Tab navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="items">Items</a>
  </nav>

  <section class="sheet-body">
    {{! Tab content goes here }}
  </section>
</div>
